@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookish</h1>
    <p>Welcome to Bookish!</p>
    <img src="assets/library.png" alt="inside of library"/>
</div>
