@{  
    ViewBag.Title = "LoanForm";  
}

<!DOCTYPE html>
<html> 
<body> 

<h1>Loan Book</h1>

<form method="POST" action="">
    Member ID:<br>
    <input type="text" name="memberId" value=""><br><br>
    ISBN:<br>
    <input type="text" name="isbn" value=""><br><br>
    <input type="submit" value="Submit" class="submit" asp-controller="Loan" asp-action="ShowCopies">
</form>

</body> 
</html>