html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.linkbtn{
  border-radius: 4px;
  color: #0c4128;
}

.right{
  position: relative;
  float: right;
}